/*
  # config.sass
  グローバルな変数を定義  
  */

/*
  # フォント関連 
  normalize.cssはbase.sassに記述
  */

$base-font-family: YuGothic, '游ゴシック', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN', Meiryo, メイリオ, arial, Helvetica, sans-serif

$base-font-size: 1.6rem
$base-line-height: 2.0rem
