
/*
  # 変数一覧
  本来はgulp/sprite.coffeeで変数のprefixをcssVarMapにて追加できるはずが、 
  エラーが発生するため、以下に直書き。  
  元のソースは、  
  ../../node_modules/gulp.spritesmith/node_modules/spritesheet-templates/lib/templates/sass.template.mustache
  
  変更点はこのファイル内で以下のみ、  
  items間の$strings.name_nameを$sprite-string.name_nameのようにsprite-を追加
  */

$sprite-sample-black-name: 'sprite-sample-black'
$sprite-sample-black-x: 0px
$sprite-sample-black-y: 0px
$sprite-sample-black-offset-x: 0px
$sprite-sample-black-offset-y: 0px
$sprite-sample-black-width: 128px
$sprite-sample-black-height: 128px
$sprite-sample-black-total-width: 256px
$sprite-sample-black-total-height: 256px
$sprite-sample-black-image: '/assets/images/sprite.png'
$sprite-sample-black: (0px, 0px, 0px, 0px, 128px, 128px, 256px, 256px, '/assets/images/sprite.png', 'sprite-sample-black', )
$sprite-sample-blue-name: 'sprite-sample-blue'
$sprite-sample-blue-x: 128px
$sprite-sample-blue-y: 0px
$sprite-sample-blue-offset-x: -128px
$sprite-sample-blue-offset-y: 0px
$sprite-sample-blue-width: 128px
$sprite-sample-blue-height: 128px
$sprite-sample-blue-total-width: 256px
$sprite-sample-blue-total-height: 256px
$sprite-sample-blue-image: '/assets/images/sprite.png'
$sprite-sample-blue: (128px, 0px, -128px, 0px, 128px, 128px, 256px, 256px, '/assets/images/sprite.png', 'sprite-sample-blue', )
$sprite-sample-red-name: 'sprite-sample-red'
$sprite-sample-red-x: 0px
$sprite-sample-red-y: 128px
$sprite-sample-red-offset-x: 0px
$sprite-sample-red-offset-y: -128px
$sprite-sample-red-width: 128px
$sprite-sample-red-height: 128px
$sprite-sample-red-total-width: 256px
$sprite-sample-red-total-height: 256px
$sprite-sample-red-image: '/assets/images/sprite.png'
$sprite-sample-red: (0px, 128px, 0px, -128px, 128px, 128px, 256px, 256px, '/assets/images/sprite.png', 'sprite-sample-red', )


/*
  # 出力されたsprite画像の変数
  gulp/sprite.coffee内cssSpritesheetNameで指定
  */

$sprites-width: 256px
$sprites-height: 256px
$sprites-image: '/assets/images/sprite.png'
$sprites-sprites: ($sprite-sample-black, $sprite-sample-blue, $sprite-sample-red, )
$sprites: (256px, 256px, '/assets/images/sprite.png', $sprites-sprites, )




/*
  # sprite mixins
  ## sprite mixin
  任意の画像のみ出力するmixin

  @include sprite($sprite-sample-red)

  のように使用する
  
  ## 各値を取り出すmixin

  * sprite-width - widthを出力
  * sprite-height - heightを出力
  * sprite-position - positionを出力
  * sprite-image - image, background-imageを出力

  */

@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)


/*
  # xhdpiに対応(retina)
  2dpxに対応
  */

@mixin xhdpi-sprite-width($sprite)
  width: nth($sprite, 5) / 2

@mixin xhdpi-sprite-height($sprite)
  height: nth($sprite, 6) / 2

@mixin xhdpi-sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3) / 2
  $sprite-offset-y: nth($sprite, 4) / 2
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin xhdpi-sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin xhdpi-sprite-size($sprite)
  background-size: nth($sprite, 7) / 2 nth($sprite, 8) / 2

@mixin xhdpi-sprite($sprite)
  @include xhdpi-sprite-image($sprite)
  @include xhdpi-sprite-position($sprite)
  @include xhdpi-sprite-width($sprite)
  @include xhdpi-sprite-height($sprite)
  @include xhdpi-sprite-size($sprite)

@mixin xhdpi-sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)


/*
  # xxhdpiに対応
  3dpxに対応
  */

@mixin xxhdpi-sprite-width($sprite)
  width: nth($sprite, 5) / 3

@mixin xxhdpi-sprite-height($sprite)
  height: nth($sprite, 6) / 3

@mixin xxhdpi-sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3) / 3
  $sprite-offset-y: nth($sprite, 4) / 3
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin xxhdpi-sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin xxhdpi-sprite-size($sprite)
  background-size: nth($sprite, 7) / 3 nth($sprite, 8) / 3

@mixin xxhdpi-sprite($sprite)
  @include xxhdpi-sprite-image($sprite)
  @include xxhdpi-sprite-position($sprite)
  @include xxhdpi-sprite-width($sprite)
  @include xxhdpi-sprite-height($sprite)
  @include xxhdpi-sprite-size($sprite)


/*
  # xxxhdpiに対応
  4dpxに対応
  */

@mixin xxxhdpi-sprite-width($sprite)
  width: nth($sprite, 5) / 4

@mixin xxxhdpi-sprite-height($sprite)
  height: nth($sprite, 6) / 4

@mixin xxxhdpi-sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3) / 4
  $sprite-offset-y: nth($sprite, 4) / 4
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin xxxhdpi-sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin xxxhdpi-sprite-size($sprite)
  background-size: nth($sprite, 7) / 4 nth($sprite, 8) / 4

@mixin xxxhdpi-sprite($sprite)
  @include xxxhdpi-sprite-image($sprite)
  @include xxxhdpi-sprite-position($sprite)
  @include xxxhdpi-sprite-width($sprite)
  @include xxxhdpi-sprite-height($sprite)
  @include xxxhdpi-sprite-size($sprite)


/*
  # sprites mixin
  すべての画像を書き出すmixin
  (sprite-+ファイル名がクラス名となる)

  * spritesは予め配列を用意し、spritesの引数に入れる
  * $sprites-spritesはデフォルトで用意されたすべてを含む配列
    ($spritesはgulp/sprite.coffeeのcssSpritesheetNameの値)

  $sprites: $sprite-sample-blue, $sprite-sample-black  
  @include sprites($sprites-sprites)
  */

@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)

